# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
private.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

# Others #
log.txt
*~
pocoto.log
.svn/
/MainWindow/nbproject/private/
/junit/nbproject/private/
/Logging/nbproject/private/
/MultiSelectionLayer/nbproject/private/
/jide-oss/nbproject/private/
/jxlayer/nbproject/private/
/log4j/nbproject/private/
/Cookies/nbproject/private/
/RiverLayout/nbproject/private/
/CorrectionBackend/nbproject/private/
/Export/nbproject/private/
